    :root{
      --1: #CCA664;
      --2: #D6B67E;
      --bg: #F2CD8D;
      --tx: #85693C;
    }
    html{
      scroll-behavior: smooth;
    }
    body{
      background: var(--bg);
      font-family:  'Courier New', Courier, monospace;      
    }
    main{
      min-height: 100vh;
      display: flex;
      margin: 0;      
    }
    .h{
      display: inline-block;
      background: var(--1);
      padding: 12px 12px;
      color: var(--tx);
    }
    .h:hover {
      background-color: var(--2);
      transform: translate(2px, 2px);
    }
